<h1>About Me</h1>
<p>
  This is the app I built while following the excellent <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>  
</p>
<%= link_to my_gravatar, "mailto:assafshomer@gmail.com" %>