<h2><%= @user.name %>, you can now reset your password</h2>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
		<%= render 'password', f: f %>
			<%= f.submit "Reset password", class: "btn btn-large btn-primary" , id: "reset_password_button" %>
		<% end %>
	</div>
</div>